<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130192292425-098am5hr2l70ulahtu8ag1pimms3njld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130192292425-098am5hr2l70ulahtu8ag1pimms3njld</string>
	<key>API_KEY</key>
	<string>AIzaSyC9vEwpJTJek7sCGWoWhxo--e9cVnwbjlc</string>
	<key>GCM_SENDER_ID</key>
	<string>130192292425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wechat</string>
	<key>PROJECT_ID</key>
	<string>wechat-d6ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-d6ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130192292425:ios:1aa20c5031a37e4a289d98</string>
</dict>
</plist>